body {
    font-family: 'Times New Roman', Times, serif;
}

.shadows{
    -webkit-box-shadow: 0px 0px 74px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 74px -16px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 74px -16px rgba(0,0,0,0.75);
}
