@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-bg-color:rgb(49, 140, 231);
    --primary-bg-light-color: rgba(49, 140, 231, 0.451);
    --secondary-bg-color:#f2f5f7;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


.bg-primary{
    background-color: var(--primary-bg-color);
}

.bg-primary-mid-dark {
    background-color: var(--primary-bg-mid-color);
}

.bg-primary-light {
    background-color: var(--primary-bg-light-color);
}

.bg-secondary{
    background-color: var(--secondary-bg-color);
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}

.text-muted {
    color:  #9E9EA9;
}

.text-muted-dark {
    color:  #7e7e7e;
}

.btn-shadows {
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.15);
}

.customize-scroll-bar {
    scrollbar-width: thin;
    scrollbar-color: white #f1f1f1
}